.banner {
  border-top: 4px solid var(--color-navy);
  border-bottom: 4px solid var(--color-navy);
  padding: var(--spacing-2);
  background-color: var(--color-teal);
  margin-top: var(--spacing-5);
  color: white;
}
img {
  height: 60px;
}
