.contentContainer {
  width: 100%;
  border-radius: var(--border-radius-3);
  border: 2px solid var(--color-navy);
  background-color: var(--color-white);
  box-shadow: -4px 4px 0px 0px var(--color-navy);

  box-sizing: border-box;

  max-width: 1000px;

  text-align: left;

  min-height: 80%;
}

.contentContainer > h1 {
  width: 100%;
  background-color: var(--color-purple);
  padding: var(--spacing-4);
  color: var(--color-white);

  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xl)
}

/* .content {
} */
