
.searchBar {
    padding: var(--spacing-2) var(--spacing-4);
    border-radius: var(--border-radius-2);
    border: 2px solid black;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);

    overflow: hidden;
  }

  /* .searchBar:hover {
    background-color: #ffffff;
    border-color: #6627CD
  }

  .searchBar:click {
    background-color: black;
  } */