.formContainer {
  background-color: bisque;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-4);

  height: 100vh;
  /* max-width: 700px; */
}

.formContainer form {
  background: color #fff3dd;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  align-items: center;
  max-width: 400px;
}

.formContainer h1 {
  box-shadow: #34b2a7;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.link {
  color: #34b2a7;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}